<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Connect4</title>
        <link rel="stylesheet" href="css/index.css" />
        <script defer type="module" src="js/GameController.js"></script>
    </head>
    <body id="body">
        <div class="boardTitle" id="BoardTitle"></div>
        <div class="boardMessages" id="boardMessages"></div>
        <div class="turn">
            <div id="turnLabel"></div>
            <div id="turn"></div>
        </div>
        <div class="board" id="board"></div>
    </body>
</html>
