<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Connect4</title>
    <link rel="stylesheet" href="css/index.css" />
    <script type="module" src="js/Connect4.js"></script>
  </head>
  <body>
    <header class="boardTitle">
      <h1>HTML, CSS and Javascript Connect4</h1>
    </header>

    <main>

      <section class="boardMessages">
        <div id="boardMessages"></div>
      </section>

      <section class="board" id="board">

      </section>

    </main>
  </body>
</html>
